
.container {
    width: 100%;
    border: 1px solid blue;
}

main {
}

label, .aslabel, select, [type="checkbox"] {
    display: inline-block;
    min-width: 50px;
    border: 1px solid blue;
    border-radius: 2%;
    margin: 15px 2px 0px 20px;
}

.aslabel, option, [type="checkbox"], [type="radio"], [type="submit"]{
    margin-top: 1px;
    min-width: 100px;
    margin-left: 20px;
    
}

p {
    margin: 10px ;
}

header, footer {
    margin: -22px 2px 0px 0px;
    width: 100%;
    color: white;
    background-color: blue;
    min-height: 50px;
    text-align: center;
    vertical-align: center;
}

header{
    
}

footer{
    margin-top: 2px;
    padding-top: 2px;
}


#submit-container{
    align-content: center;
}

[type="submit"]{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: blue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    
}

#number {
    min-width: 100px;
}

#select-span {
    margin-top: 10px;
}

#comments {
    margin: auto;
    margin-left: 10px;
    border-radius: 5%;
}