header {
    font-family: Times New Roman;
    font-size: 30px;
    font-weight: bold;
}

code {
    display: block;
    background-color: #c4ecf5;
    border: 1px solid green;
    border-radius: 5%;
    overflow: scroll;
}


body {
    width: auto;
}
.container {
    position: static;
    width: 100%;
}

main {
    position: static;
}

@media (min-width: 768px) {
    /* Large Screen */
    .container {
        display: flex;
    }
    .navbar {
        margin: 10px;
        width: auto;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 15px;
    }
}