

/*root {
    --header-height: 200px;
}*/

main {
    width: 100%;
    margin: -5px;
    margin-left: 5px;
    font-family: Verdana;
    background-color: #f5f5f6;
}


video {
    width: auto;
    height: auto;
}

header {
    width: 100%;
    position: fixed;
    background-color: #b7fde9;
    z-index: 2;
    height: auto;
    
}

input {
    margin: 2px;
}

.static-container{
    position: relative;
    top: 220px;
}
footer {
    height: 50px;
    background-color: green;
    padding: 5px;
}
form {
    margin: 20px;
   
}

.subscription {
    margin: 20px;
    border: 2px solid green;
}
.subscription-title {
    background-color: green;
    color: white;
}
#header-img {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}

#video {
    margin: auto;
    border-radius: 5%;
}

#pricing-plans {
    display: flex;
}

nav  a {
    background-color: #6aff00;
}

@media (min-width: 768px){
    .subscription{
        margin-top: 5px;
        margin-left: 5px;
    }
}