body {
    background-color: ghostwhite;
}

main {
    width: 100%;
    height: 100%;
    margin: -5px -5px;
    text-align: center;
}
figure {
    background-color: antiquewhite;
    border-top: 10px solid red;
    border-bottom: 10px solid green;
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
    border-radius: 10%;
}
img {
    display: block;
    max-height: max-content;
    max-width: max-content;
    margin: 0 auto;
}
.header{
    margin: 0 0;
    top: 0;
    width: 100%;
    height: 40px;
}
a, a:hover{
    color: black;
}