* {
    box-sizing: border-box;
}

body {
    font-family: helvetica;
}

h2 {
    font-size: 20px;
}

h1 {
    text-align: center;
}

.nav-link, .nav-link:hover, .nav-link:active {
    color: darkslategray;
    text-decoration: none;
    display: block;
    border-bottom: 3px double black;
    font-weight: bold;
}

.code-block {
    display: block;
    width: 95%;
    margin: 10px auto;
    border: 2px double darkblue;
    color: white;
    background-color: navy;
    border-radius: 5%;
    padding: 10px;
    overflow: scroll;
}
.coming-soon {
    color: #7d8d9086;
    font-size: 0.9rem;
}


@media(min-width: 850px) {
    .container{
        display: flex;
    }
    #navbar {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 30%;
        font-size: inherit;
    }
    #main-doc{
        margin-left: calc(30% + 20px);
    }
    body{
    font-size: 1rem;
}

}