
#drum-machine  {
    --pad-size: : 50px;
    --pad-gap: 10px;
}

#display{
    height: 20px;
    font-size: 2em;
    margin: 30px auto;
    text-align: center;
}

.DrumPadContainer{
    display: grid;
    /* flex-direction: row; */
    /* border: 1px solid black; */
    /* grid-template-rows: 1fr 1fr 1fr; */ 
    gap: 10px;
    height: 300px;
    width: 300px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: auto;
}

@keyframes clicked{
    from{
        
    }
    to {
        width: 50px;
        height: 50px;
    }
}

.drumPad{
    text-align: center;
    vertical-align: center;
    /* height: 100px; */ 
    /* width: 100px; */ 
    /* border: 1px solid yellow; */
    background-color: #ea8201;
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;
}


.drum-pad:active {
    animation-name: clicked;
    animation-duration: 3s;
}