.DrumPadContainer{
    display: grid;
    border: 1px solid black;
    grid-template-colums: repeat(3, 1fr); 
    /* grid-auto-columns: 3; */
    /* grid-gap: 10px; 
    /* margin: auto; */
    /* width: ; */
    /*margin: 25px;*/
}
